body {
  margin: 0 content;
  font-family: Italiana;
  font-family: Miniver;
  font-family: Orienta;
   height: 1510px;
  background-color:rgb(167, 166, 168);
}


.header{
 
  background-size: cover; /*Картинка будет растягиваться на весь монитор равномерно*/
 
}

.container {
  margin: 0px 20px;
 
}

.heder-line{
  position: relative;
  margin-top: 50px;

}


.header-logo{ 
  position: absolute;
  margin-top: -20px;
  margin-left: 75px;
  width: 154px;
  height:164px;

  transition: transform .2s; /*Задает трансформацию текста */
  
 
}

.header-logo:hover{ 
  transform: scale(1.2); /*Задает размер трансформации */
  border-radius:30px;  
  filter: drop-shadow(0 0 20px #FFFFFF);
  
  
}




.nav{
  background: #575972;
  height: 120px;
  border-radius: 25px;
  margin-bottom: 58px;
  
}

.nav-text{
  font-size: 32px;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  padding-top: 37px;
  padding-left: 258px;
  padding-right: 155px;
  
  

}

.nav-table{
  text-decoration: none;
  font-weight: 600;
  color:#fff;
  font-size: 32px;

  transition: color 0.3s linear; /*Делает наведение текста более плавное*/

}

.nav-table:hover { /*Псевдоклас для работы с мышкой при наведении*/
  color:#191919;
  text-shadow: 1px 2px 2px #191919, 0 0 0.1em #bcbcc3, 0 0 0.1em #b8c1c1; /*тень для текста*/
  text-decoration:underline;  /*делаем линию под текстом*/
  text-underline-offset: 10px /*делаем отступ лини*/

}

.nav-trans{ /*Класс для увеличения букв заголовка*/
  display: inline-block;
  transition: transform 0.3s ease 
}

.nav-trans:hover{
  transform: scale(1.2); /*Задает размер трансформации */
}

.main-cart{
  margin-top: 0px;
}

.cart{
  background: rgb(87, 89, 114);
  width:auto;
  height: 449px;
  border-radius: 25px;
  margin-top: 0px;
  margin-bottom: 56px;
}

.histori-text{
  margin-bottom: 29px;
}

.text{
color: rgb(0, 0, 0);
font-family: Miniver;
font-size: 26px;
font-weight: 400;
text-align: center;

}

.card1{
  margin-left:70px;
  margin: 30px;
  

  transition: transform 0.3s ease 
}


.card1:hover{

  transform: scale(1.2); /*Задает размер трансформации */
  border-radius:21px;  
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.96);

}

.cards2{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
  
}

.cart-img{
  width:424px ;
  height:324px ;
}




.cart-text{
  margin-top: -75px;
  margin-left: 20px;
  color: rgb(255, 249, 249);
  font-family: Miniver;
  font-size: 21px;
  font-weight: 400;




}

.footer{
color: rgb(0, 0, 0);
font-family: Orienta;
font-size: 17px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}

.footer-email{
  margin-top: 90px;
  margin-bottom: 19px;
  position: relative;
}

.logo-icon{
  display: flex;
  position: absolute;
  margin-top: -50px;
  
  
}

.icon-footer{
  margin-left: 5px;
}

